*{
    margin: 0;
    padding: 0;
}

/* Default CSS Start */



/* Default CSS Start */

/* Header Section Star */
header{
    background-color: rgba(236, 232, 232, 0.884);
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 65px;
}
/* <!-- navbar start --> */
nav{
    justify-content: space-between;
    display: flex;
    padding: 25px 100px 0 100px;
}

nav h1{
    font-size: 30px;
    font-weight: bolder;
}

nav h1>span{
    color: orangered;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    margin: 0 0 0 25px;
    color: rgb(94, 91, 91);
}

nav ul li>button{
    background-color: orangered;
    padding: 10px 20px;
    font-weight: 800;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
/* <!-- navbar END --> */

/* <!-- Header Content start --> */

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 100px;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 550px;
}

.header-content .content h2{
    font-size: 35px;
    font-weight: 500;
    color: rgb(80, 77, 77);
}
.header-content .content h1{
    font-size: 55px;
    color: rgba(27, 25, 25, 0.952);
    margin: 10px 0 15px 0;
}
.header-content .content p{
    font-size: 20px;
    color: rgb(80, 77, 77);
    font-weight: 100;
    margin: 0 0 20px 0;
}
.header-content .content .download{
    border: none;
    color: whitesmoke;
    background-color: orangered;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bolder;
    margin: 0 15px 0 0;
    border-radius: 5px;
}
.header-content .content .contact{
    border: 1px solid orangered;
    background-color: rgb(255, 255, 255);
    color: orangered;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
}

/* <!-- Header Content END --> */

/* Header Section End */